In [80]:
import os
homeDirectoryPath = os.getcwd().split('SageMaker')[0]+'SageMaker/'
DataDirectoryPath = homeDirectoryPath + 'Data/'
RawDataDirectoryPath=DataDirectoryPath+'Raw Data/'
UnivariateColumnsValuesDirectoryPath=DataDirectoryPath+'Univariate Columns Values/'
UnivariateChartsDirectoryPath=DataDirectoryPath+'Univariate Charts/'
SVEDataDirectoryPath=DataDirectoryPath+'SVEData/'


import sys
sys.path.append('./packages')

import clustering

from sklearn.decomposition import PCA
from sklearn.cluster import MiniBatchKMeans;
from sklearn.cluster import KMeans;
import matplotlib.ticker as mtick
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import math
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import collections
import warnings
from sklearn.cluster import MiniBatchKMeans

warnings.filterwarnings('ignore')
from IPython.core.display import display, HTML
from sklearn.cluster import KMeans
display(HTML("<style>.container { width:100% !important; }</style>"))

In [81]:
df_stock = pd.read_csv("data.csv",encoding= 'unicode_escape')

In [82]:
df_stock

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [83]:
df_stock.shape

(541909, 8)

In [84]:
df_stock.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [85]:
df_stock.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [86]:
#df_stock=df_stock[~df_stock['InvoiceNo'].str.contains('C')]
#df_stock=df_stock[~df_stock['InvoiceNo'].str.contains('A')]
#df_stock['InvoiceNo'] = df_stock['InvoiceNo'].str.replace(r'[^\d.]+', '')
#df_stock['StockCode'] = df_stock['StockCode'].str.replace(r'[^\d.]+', '')

In [87]:
df_stock['StockCode'] =df_stock['StockCode'].str.extract(pat='(\d+)', expand=False)
df_stock['InvoiceNo'] =df_stock['InvoiceNo'].str.extract(pat='(\d+)', expand=False)

In [88]:
df_stock = df_stock.drop(columns={'Description', 'Country','InvoiceDate'})

In [89]:
for a in df_stock.columns:
    df_stock=df_stock[~df_stock[a].isnull()]

In [90]:
scaler = clustering.StandardScaler()
scaler.fit(df_stock)

StandardScaler()

In [91]:
df_stock=scaler.transform(df_stock)

In [92]:
df_stock.shape

(405043, 5)

In [93]:
df_stock=pd.DataFrame(df_stock)

# KMeans Clustering Functions

#### Optimal cluster using KMeans

In [94]:
df_stock.describe()

                  0             1             2             3             4
count  4.050430e+05  4.050430e+05  4.050430e+05  4.050430e+05  4.050430e+05
mean   1.154150e-15  8.448421e-17  2.780471e-18 -3.747057e-17 -3.508481e-16
std    1.000001e+00  1.000001e+00  1.000001e+00  1.000001e+00  1.000001e+00
min   -1.847873e+00 -1.491939e+00 -3.250737e+02 -6.458758e-01 -1.724286e+00
25%   -8.739245e-01 -4.235323e-01 -4.053885e-02 -3.690803e-01 -7.752934e-01
50%    9.834589e-02 -3.926350e-01 -2.850014e-02 -2.140748e-01 -7.948217e-02
75%    8.760554e-01 -3.634354e-01 -4.098078e-04  1.845107e-01  8.765274e-01
max    1.602492e+00  2.883742e+00  3.249766e+02  1.431771e+02  1.749507e+00

In [95]:
NUM_CLUSTERS = 10
centers, clusters, inertia = clustering.clustering_on_shipevents(ship_events=df_stock, num_clusters=NUM_CLUSTERS)

#### Finding Optiomal clusters using KMeans

In [ ]:
%%time
clustering.find_optimal_clusters_kmeans(data=df_stock, max_k=300, algo='KMeans', batch_size=100)